.btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
}
.btn-div:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
  cursor: pointer;
  /* color: white !important; */
}
.button {
  background-color: rgba(210, 35, 241, 0.92) !important;
  border: solid;
  border-width: 1px;
  border-radius: 2em !important;
  width: 100%;
  margin-top: 2%;
  padding: 1% !important;
  font-size: 1.8rem !important;
  /* color: white !important; */
}
.button:hover {
  background-color: rgba(21, 3, 71, 0.4) !important;
  transition: 0.4s;
}
 .show-save {
  display: block !important;
} 